# MongoDB Connection
MONGODB_URI=mongodb+srv://vishalgiri0044:kR9oUspxQUtYdund@cluster0.mongodb.net/otp_bot?retryWrites=true&w=majority
MONGODB_DATABASE=otp_bot
MONGODB_COLLECTION=users

# Environment
NODE_ENV=production

# Server Configuration
PORT=3001

